<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>xo-go</title>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js" type="text/javascript"></script>
    <style>
		.field div { width: 40px; height: 40px; border: 1px solid silver; background: snow; float: left; cursor: pointer;
				     font: bold 34px/40px Arial; color: #444; text-align: center }
		.field div:nth-child({{.FieldSize}}n + 1) { clear: both }
		.field div.orange { color: #bd3d00; }
	</style>
</head>
<body>
<div class="field">
    {{.FieldHtml}}
</div>
<script>
	$('.field div').click(function() {
		if ($(this).html() != ' ')
			return;

		$(this).html('X');
		var len = $('.field div').length;
		var game = '';
		for (var x = 0; x < len; x++)
		    game += $($('.field div')[x]).html();
		$.ajax({
			data: {
				game: game
			},
			success: function(data) {
			    console.log(data);
				if (typeof(data.error) != 'undefined') {
					alert(data.error);
					return;
				}

				for (var x = 0; x < data.game.length; x++)
		            $($('.field div')[x]).html(data.game[x]);

				if (data.win[2] != 0) {
				    for (var x = 0; x < 5; x++)
				        $($('.field div')[data.win[x]]).css('color', 'red')
					$('.field div').unbind();
				}
				$('.orange').removeClass('orange');
				if (data.move != -1)
				    $($('.field div')[data.move]).addClass('orange');
			}
		});
	})
</script>
</body>
</html>
